.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(128,128,128, 0.2);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  color: white;
}

input {
  width: 90%;
  border-radius: 10px;
  border-width: medium;
}


.font {
  font-family: 'Bruno Ace SC';
  font-size: 50px;
}

body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  margin-top: 1%;
}

.container h1 {
  margin-left: 40%;
  color: white;
  font-size: 50px;
  align-items: center;
}

#addContBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  color: black;
  width: 420px;
  height: 445px;
  text-align: center;
  border-radius: 10px;
  padding: 30px 40px;
  padding-top: 30px;
  display: none;
  z-index: 100;
  background-color: rgba(2, 2, 22, 0.6);
  backdrop-filter: blur(4px);
}

span#contactAddResult {
    color: #dc3545;
    font-size: 16px;
    font-weight: bold;
}

#addContButton {
  position: relative;
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 10px;
}

#addContButton:hover {
  opacity: 0.8;
}

#addContButton:active {
  opacity: 0.5;
}

#addContactButton {
  position: fixed;
  width: 45px;
  height: 45px;
  color: white;
  border: none;
  border-radius: 50%;
  margin-left: 18px;
  margin-top: 3%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#addContactButton:hover {
  background-color: gray;
}

.content {
  padding: 15px;
  height: 100vh;
  width: 100vw;
  background: url('/images/img3.jpg') no-repeat;
  background-size: cover;
  background-position: center; 

}

.table-style {
  box-shadow: 0 6px 12px #0005;
  border-radius: 12px;
  margin-top: 30px;
}

.hidden {
  display: none;
}

.content-text {
  color: #494949;
}

.sidebar-text {
  color: #e2e2e2;
}

.nav-item {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.addContact {
  margin-left: auto;
}

#searchText {
  position: fixed;
  width: 250px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  transition: box-shadow 0.3s ease;
  margin-top: 3%;
  margin-left: 150pt;
}

#searchText:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#searchBtn {
  position: fixed;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 50%;
  margin-left: 470px;
  margin-top: 3%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#searchBtn:hover {
  background-color: gray;
}

#logoutButton, #contactsButton, #aboutUsButton {
  width: 100%;
  height: 50px;
  background: white;
  color: white;
  border-color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#logoutButton:hover, #contactsButton:hover, #aboutUsButton:hover {
  background-color: #606060;
}

#logoutButton:focus, #contactsButton:focus, #aboutUsButton:focus {
  outline: none;
}

.bg-close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='black' stroke-width='4' stroke-linecap='butt' /%3E%3C/svg%3E");
  background-size: 100%;
}

.x-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 12px;
  margin-top: 12px;
}


/* About Us Page */
.team-member {
  display: flex;
  align-items: center;
  background: transparent;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  margin: 10px 0;
  padding: 1rem;
  border-radius: 8px;
  position: relative; /* Ensure relative positioning for the icon */
  overflow: hidden; /* Ensure content does not overflow */
}
.team-member img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 1rem;
}
.team-member h2 {
  margin: 0;
  font-size: 1.6rem;
  color: #e2e2e2;
}
.team-member p {
  margin: 0;
  font-size: 1rem;
  color: #c3c3c3;
}

.linkedin-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: #0077b5; /* LinkedIn color */
  text-decoration: none;
}

.aboutusContainer {
  padding-left: 250px !important; 
  height: 100vh; 
  overflow: hidden; 
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactsTable {
  display: block;
  height: 500px; /* Set the container height */
}

.editButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
padding-left: 30px;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg>');
}

.deleteButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"></path></svg>');
}

.cancelButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"></path></svg>');
}

.saveButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
padding-left: 30px;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5 21h14a2 2 0 0 0 2-2V8l-5-5H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zM7 5h4v2h2V5h2v4H7V5zm0 8h10v6H7v-6z"></path></svg>');
}

.saveButton:hover, .cancelButton:hover, .deleteButton:hover, .editButton:hover {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.3));
}




.table-style {
  position: relative;
  z-index: 2;
  box-shadow: 0 6px 12px #0005;
  border-radius: 12px;
  overflow: hidden;
  width: 90%;
  height: 90%;
  text-align: center;
  border-collapse: collapse;
  margin-left: 15%;
  margin-top: 85px;
  border: 4px solid black;
  background-color: rgba(255, 255, 255, 0.65);  color: white;
  backdrop-filter: blur(4px);
  max-height: 425px;
}

table.table-style {
  width: 90%;
  height: 90%;
  table-layout: fixed;
}

table.table-style thead,
table.table-style tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; 
}

table.table-style tbody {
  display: block;
  max-height: 459px; 
  overflow-y: auto; 
}

table.table-style th {
  padding: 1%;
  vertical-align: middle; 
  text-align: center;
  font-size: 40%; 
}

table.table-style th {
  background-color: rgba(2, 2, 22, 0.6);
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
}

table.table-style td {
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 1%; /* Unified padding */
  vertical-align: middle; /* Vertical alignment for cells */
  text-align: center; /* Unified text alignment */
  font-size: 120%;
  font-weight: bold;
  overflow-x: auto;
}

.table-style tr:hover {
  background-color: rgba(128,128,128, 0.2);

}



/* Custom Scrollbar */
.table-style tbody::-webkit-scrollbar {
  width: 12px;
}

.table-style tbody::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.table-style tbody::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #e6e6e6;
}

table.table-style td::-webkit-scrollbar {
    height: 8px;
}
  
/* table.table-style td::-webkit-scrollbar-track {
    background: #e6e6e6;
} */
  
table.table-style td::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}