/* General reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: url('../images/img2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

/* Title styling */
#title {
    position: absolute;
    font-size: 70px;
    color: #FFFFFF;
    text-align: center;
    top: 5%;
}

#sub-title {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 14%;
}

/* Input styling */
input[type="text"], input[type="password"] {
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: white;
}

#loginDiv input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    margin-bottom: 20px; 
}
  
#loginName::placeholder {
    color: white; 
}

#loginPassword::placeholder {
    color: white; 
}

#firstName::placeholder {
    color: white; 
}

#lastName::placeholder {
    color: white; 
}

#regLoginName::placeholder {
    color: white;
}

#regPassword::placeholder {
    color: white;
}

#svg1 {
    position: absolute;
    top: 31%; 
    right: 51px; 
    transform: translateY(-50%);
    font-size: 20px; 
}

#svg2 {
    position: absolute;
    top: 51%; 
    right: 51px; 
    transform: translateY(-50%); 
    font-size: 20px;
}

#svg5 {
    position: absolute;
    top: 50.5%; 
    right: 270px; 
    transform: translateY(-50%);
    font-size: 20px; 
}

#svg6 {
    position: absolute;
    top: 50.5%; 
    right: 60px; 
    transform: translateY(-50%); 
    font-size: 20px;
}

#loginName {
    margin: 100%;
    height: 50px;
    margin: auto;}

#loginPassword {
    width: 100%;
    height: 50px;
}

#loginButton {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

#loginButton:hover {
    opacity: 0.8;
}

#loginButton:active {
    opacity: 0.5;
}

#registerButton {
    width: 50%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

#registerButton:hover {
    opacity: 0.8;
}

#registerButton:active {
    opacity: 0.5;
}

#loginDiv #login{
    position: relative;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
    font-size: 36px;
    width: 420px;
    height: 375px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;  
}

#loginDiv #registration{
    position: relative;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
    font-size: 36px;
    width: 500px;
    height: 375px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;  
}

#inner-title {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5%;
    color: white;
}

#loginResult {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    font-weight: 100;
}

#registerResult {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}

#userName {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton {
    width: 20%;
    margin-left: 40%;
}

select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
}

#colorSearchResult {
    display: none;
}

#colorAddResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #95060a;
}


#loginDiv .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#registration, #login {
    display: none;
}

#registration.active, #login.active {
    display: block;
}

.loginFeedbackDiv {
    display: none;
    margin-top: 20px;
    position: absolute;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
    font-size: 36px;
    width: 420px;
    height: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 10px;
    padding: 30px 30px;  
}

.registerFeedbackDiv {
    display: none;
    margin-top: 55px;
    position: absolute;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
    font-size: 15px;
    width: 420px;
    height: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 10px;
    padding: 30px 30px;  
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0 5px;
  }
  
